.gracejacobs {
	max-width: 200px;
}

.header {
	text-align: center;
	color: white;
	background: black;
}

 <link rel="stylesheet" href="css/style.css">
	 <script type="text/javascript" src="js/gallery.js" defer></script>


p {
	font-family: 'Inria Serif', serif;
	font-family: 'Shantell Sans', cursive;
	font-family: 'sans-serif;'
}

body {
	background-color: #fcdbf9;
}

img {
	width: 400px,
	height: auto;
}
.mark-img
{
	float: left;
	margin: 3px;
	/*padding-right: 10px;*/
	max-height: 3.5rem;
	margin-top: 0.5rem;



}

.project-thumb {
	float: left;
	padding: .2rem;

}
body {
    background-color: #fcdbf9;
    max-width: 500px ;
    margin: auto;
  }
     p { 
  font-family: "Shantell Sans", cursive;
 }
 
     h1 {
  font-family: "Inria Serif";
 }
 
     ul {
  font-family: sans-serif
 }  
      
		
figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 30px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
